* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'quicksand-regular';
  src: url('../fonts/quicksand-regular.woff2') format('woff2'), url('../fonts/quicksand-regular.woff') format('woff');
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand-bold.woff2') format('woff2'), url('../fonts/quicksand-bold.woff') format('woff');
}

a {
  text-decoration: none;
}

html {
  background-color: black;
  font-size: 100%;
}

main {
  background-color: black;
  min-height: 100vh;
  padding: 15vh 0;
  width: 100vw;
}

.intro-text {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 3rem;
  left: 12.5vw;
  line-height: 3.5rem;
  position: absolute;
  text-align: right;
  top: 50%;
  transform: translate(0%, -50%);
  width: 75vw;
}

.about-text {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 1.3rem;
  left: 12.5vw;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 75vw;
}

.resume-text {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 1.3rem;
  margin: auto;
  width: 75vw;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-bottom: 2px #fff solid;
  border-left: none;
  border-right: 2px #fff solid;
  border-top: none;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  top: 85%;
  transform: rotate(45deg);
  width: 40px;
}

.arrow:hover {
  border-bottom: 2px #61f solid;
  border-right: 2px #61f solid;
}

#navlinks a {
  background-color: black;
  float: left;
  height: 100vh;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  transition: opacity .2s ease;
  vertical-align: top;
  width: 33.3333%;
}

#navlinks a:hover {
  opacity: .9;
}

#navlinks #videos {
  background: #44f120;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, #44f140, yellow);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, #44f120, yellow);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, #44f120, yellow);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #44f120, yellow);
  /* Standard syntax */
}

#navlinks #resume {
  background: #e84df7;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, #e84df7, #f74d76);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, #e84df7, #f74d76);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, #e84df7, #f74d76);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #e84df7, #f74d76);
  /* Standard syntax */
}

#navlinks #about {
  background: #1b8bff;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, #1b8bff, #4bceff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, #1b8bff, #4bceff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, #1b8bff, #4bceff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #1b8bff, #4bceff);
  /* Standard syntax */
}

#navlinks a h1 {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  top: 40%;
}

header a {
  color: white;
  display: inline;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 1.75rem;
  margin: 2rem;
  text-decoration: none;
}

header {
  left: 50%;
  margin-left: -320px;
  margin-top: 2%;
  position: fixed;
  z-index: 10;
}

#headerbackground {
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, black, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, black, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, black, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, black, transparent);
  height: 9rem;
  position: fixed;
  width: 100%;
  z-index: 5;
  /* Standard syntax */
}

header #home:hover {
  color: #61f;
}

header #videos:hover {
  color: #44f120;
}

header #resume:hover {
  color: #e84df7;
}

header #about:hover {
  color: #1b8bff;
}

p a {
  color: white;
  font-family: quicksand-bold, helvetica, sans-serif;
}

p a:hover {
  color: #61f;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
}

.fa {
  color: white;
  margin: 0rem 1.3rem;
}

.fa:hover {
  color: #61f;
}

.social-icons {
  text-align: center;
  width: 100%;
}

b {
  font-family: quicksand-bold, helvetica, sans-serif;
}

section.video h1 {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 2rem;
  text-align: left;
}

section.video {
  margin: 5rem auto;
  text-align: center;
  width: 40rem;
}

hr {
  margin-bottom: 6rem;
  margin-top: 2rem;
}
