* {
  box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: 'quicksand-regular';
  src: url('../fonts/quicksand-regular.woff2') format('woff2'),
       url('../fonts/quicksand-regular.woff') format('woff');
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand-bold.woff2') format('woff2'),
       url('../fonts/quicksand-bold.woff') format('woff');

}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura.woff2') format('woff2'),
       url('../fonts/futura.woff') format('woff');

}

a {
  text-decoration: none;
}

html {
  background-color: black;
  font-size: 100%;
}

main {
  background-color: black;
  min-height: 100vh;
  padding: 15vh 0 0 0;
  width: 100vw;
}

.intro-text {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  position: absolute;
  text-align: right;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 75vw;
}

.about-text {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  max-width: 900px;
}

.resume-text {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 1.3rem;
  margin: auto;
  width: 75vw;
  max-width: 900px;
}



.arrow {
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-bottom: 2px #fff solid;
  border-left: none;
  border-right: 2px #fff solid;
  border-top: none;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  transform: rotate(45deg);
  width: 40px;
  top:50px;
}
.arrow-wrapper {
  position: absolute;
  top: 85%;
  left:50%;
  transform: translate(-50%, 0);
  width:120px;
  height:120px;
}
.arrow-wrapper:hover .arrow {
  border-bottom: 2px #61f solid;
  border-right: 2px #61f solid;
}

#navlinks a {
  float: left;
  height: 100vh;
  opacity: 1;
  padding-top: 3rem;
  text-align: center;
  text-decoration: none;
  transition: padding-top .6s ease, opacity .3s ease;
  vertical-align: top;
  width: 25%;
}

#navlinks a:hover {
  opacity: .9;
  padding-top: 0rem;
}
#navlinks {
  background-color: white;
  height:100vh;
  width:100vw;
}

#navlinks #images {
  background: #F6C51F;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(up, #FF7530, #F6C51F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(up, #FF7530, #F6C51F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(up, #FF7530, #F6C51F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #FF7530, #F6C51F);
  /* Standard syntax */
}

#navlinks #videos {
  background: #24e110;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, #24e110, #EFF61F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, #24e110, #EFF61F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, #24e110, #EFF61F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #24e110, #EFF61F);
  /* Standard syntax */
}

#navlinks #resume {
  background: #E657FF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, #E657FF, #f74d76);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, #E657FF, #f74d76);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, #E657FF, #f74d76);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #E657FF, #f74d76);
  /* Standard syntax */
}

#navlinks #about {
  background: #1b8bff;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, #1b8bff, #7bceff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, #1b8bff, #7bceff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, #1b8bff, #7bceff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #1b8bff, #7bceff);
  /* Standard syntax */
}

#navlinks a h1 {
  color: white;
  font-family: futura, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  top: 40%;
  text-align: center;
}

header a {
  color: white;
  display: inline;
  font-family: futura, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 2rem;
  text-decoration: none;
}

header {
  margin-top:2%;
  position: fixed;
  text-align: center;
  width:100%;
  z-index: 10;
}

#headerbackground {
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(down, black 5%, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(down, black 5%, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(down, black 5%, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, black 5%, transparent);
  height: 9rem;
  position: fixed;
  width: 100%;
  z-index: 5;
  /* Standard syntax */
}

header #home:hover {
  color: #61f;
}

header #videos:hover {
  color: #24e110;
}

header #images:hover {
  color: #FF7530;
}

header #resume:hover {
  color: #e84df7;
}

header #about:hover {
  color: #1b8bff;
}

p a {
  color: white;
  font-family: quicksand-bold, helvetica, sans-serif;
}

p a:hover {
  color: #61f;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
}

.fa {
  color: white;
  margin: 0rem 1rem;
}

.fa:hover {
  color: #61f;
}

.social-icons {
  text-align: center;
  width: 100%;
}

b {
  font-family: quicksand-bold, helvetica, sans-serif;
}

h1 {
  color: white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 2rem;
  text-align: left;
}

p {
  color:white;
  font-family: quicksand-regular, helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
}




/*iframe {
  border: 2px solid white;
  border-radius: 2px;
}*/

.image-column {
  float: left;
  width:calc(50% - 2.5vw);
}

.image-column:first-child{
  margin-right: 2.5vw;
}
.image-column:last-child{
  margin-left: 2.5vw;
}


.image-column a {
  display: inline-block;
  margin-bottom: 5vw;
  width:100%;
  overflow: hidden;
}

.image-column a img {
  width:100%;
  height: auto;
  transition: transform .4s ease;
  vertical-align: middle;
}

.image-column a img:hover {
  transform: scale(1.1);
}

.center {
  margin: 0 auto;
  width:75%;
  max-width:900px;
}

a.employer {
  color:white;
}
a.employer:hover p{
  color:#61f !important;
}

.embed-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
